body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}
.visually_hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}
.button{
	font: inherit;

	text-align: center;
	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #8B8D8F;
  	border: none;
}
.btn_hotel_search{
	background-color: #766357;
}
.btn_hotel_search:hover,
.btn_hotel_search:focus,
.btn_hotel_search:focus {
	background-color: #764857;
}
.find_button{
	background-color: #81b3d2;
}

.find_button:hover,
.find_button:focus,
.find_button:focus {
	background-color: #3c99d9;
}
.main_navigation{
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;

}
.main_header{
	background-color: #c8d8fa;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.main_header_logo{
	display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 76px;
}

.main_header_intro{
	height: 667px;
	background-image: url("../img/background-photo.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-position-y: -90px;
}

.position{
	position: relative;
}


.polygon{
	height: 59px;
    width: 100%;
    background-image: url(../img/polygon.svg);
    background-size: cover;
    background-color: transparent;
    position: absolute;
    top: -76px;
}

.site_navigation{
	list-style: none;

	margin-bottom: 0px;
}

.site_navigation a{
	color: #000000;
}

.site_navigation a:hover,
.site_navigation a:focus{
	background-color: #e5f2fa;
}

.motto{
	text-align: center;
}

.motto h3{
	font-size: 21px;
}

.interesting{
	text-align: center;
}
.interesting h3{
	font-size: 30px;
	line-height: 36px;
}
.interesting p{
	line-height: 24px;
	}
.appointment-item input{
	font: inherit;

	background-color: transparent;
	border: 0;
	background-color: #f2f2f2;
}
.appointment-item input:focus {
  border-color: #e5f2fa;
}
.main_footer{
	background-color: #ffffff;

	opacity: 0.9;
}
.footer_contacts a {
  color: #000000;
  text-decoration: underline;

}

.footer_contacts a:hover,
.footer_contacts a:focus {
  text-decoration: none;
}

.footer_social{
  text-align: center;
}

.footer_social ul {
  list-style: none;
}

.social_btn {
  color: #000000;
}
.footer_copyright {
  text-align: center;
}
.result li{
	list-style: none;
}

