body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #F5DEB3;
}

a {
	text-decoration: none;
}
.visually_hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}
.button{
	font: inherit;

	text-align: center;
	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #8B8D8F;
  	border: none;
}
.btn_hotel_search{
	background-color: #766357;
}
.btn_hotel_search:hover,
.btn_hotel_search:focus,
.btn_hotel_search:focus {
	background-color: #764857;
}
.find_button{
	background-color: #81b3d2;
}

.find_button:hover,
.find_button:focus,
.find_button:focus {
	background-color: #3c99d9;
}
.main_navigation{
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
	
}
.main_header{
	min-width: 1200px;
	background-color: #c8d8fa;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

}

.main_header_logo{
	width: 459px;
	height:353px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 76px;

}
.main_header_intro a{
	width: 459px;
	height:353px;

}
.main_header_intro{
	height: 613px;
	background-image: url("../img/background-photo.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-position-y: -90px;
}

.header_logo{
   	width: 140px;
   	height: 71px;
}

.position{
	position: relative;
}


.polygon{
	height: 59px;
    width: 1203px;
    background-image: url(../img/polygon.svg);
    background-color: transparent;
    position: absolute;
    top: -57px;
    left: -1px;
}

.site_navigation{
	list-style: none;

	margin-bottom: 0px;
	padding: 0;
}

.site_navigation a{
	color: #000000;
}

.site_navigation a:hover,
.site_navigation a:focus{
	background-color: #e5f2fa;
}

.motto{
	text-align: center;
	background-color: #ffffff;
	margin-top: -22px;
	min-height: 216px;
}

.motto h3{
	width: 440px;
  	font-size: 21px;
  	font-weight: bold;
  	line-height: 1.2;
  	margin: 0 auto;
  	padding-top: 61px;
}
.text_p p{
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 14px;
	color: #333333;
	margin: 0 auto;
}
.motto p{
	line-height: 1.86;
	padding-top: 38px;
}

.interesting{
	text-align: center;
	background-color: #ffffff;
    min-height: 291px;
    margin-top: -30px;
}
.interesting h3{
	font-size: 30px;
	padding-top: 57px;
	margin: 0 auto;
  	font-weight: bold;
  	line-height: 1.2;
}
.interesting p{
	width: 434px;
	line-height: 1.71;
	padding-bottom: 52px;
	}
.appointment-item input{
	font: inherit;

	background-color: transparent;
	border: 0;
	background-color: #f2f2f2;
}
.appointment-item input:focus {
  border-color: #e5f2fa;
}
.main_footer{
	background-color: #ffffff;
	opacity: 0.9;
}
.footer_contacts a {
  color: #000000;
  text-decoration: underline;

}

.footer_contacts a:hover,
.footer_contacts a:focus {
  text-decoration: none;
}

.footer_social{
  text-align: center;
}

.footer_social ul {
  list-style: none;
}

.social_btn {
  color: #000000;
}
.footer_copyright {
  text-align: center;
}
.result li{
	list-style: none;
}
.logo_academy{
	width: 115px;
	height: 41px;
}
.background_icon{
	width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.twitter{
	width:17px;
	height: 15px;
	padding-top: 17px;
}
.facebook{
	width: 12px;
	height: 22px;
	padding-top: 13px;
}
.youtube{
	width: 20px;
	height: 16px;
	padding-top: 16px;
}

/*Сеточные стили*/
html,
body{
	min-width: 1200px;
	min-height: 2762px;
	margin-left: auto;
	margin-right: auto;
}

.main_header{
	min-height: 485px;
	margin-bottom: 22px;
}

.main_navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.header_logo{
	position: absolute;
	
}

.main_navigation_wrapper{
	width: 100%;
	margin-bottom: 76px;
	min-height: 56px;
	margin: 0 auto;

}

.container{
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.site_navigation{
	display: flex;
	margin-top: 0;
	justify-content: space-around;
	align-items: center;
	min-height: 56px;
}
.main_header_intro{
	display: flex;
	justify-content: center;
}


.main_footer{
	min-height: 120px;
	padding: 36px 0;

}
.main_footer .container {
  display: flex;
}
.footer_contacts {
	
	width: 223px;
  	margin: 0;
  	min-height: 48px;
  	margin-right: 169px;
  	margin-left: 132px;
}
.footer_social {
	width: 150px;
  	margin: 0;
  	min-height: 48px;
}
.footer_icon{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}
.footer_copyright {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 197px;
  	margin: 0;
  	min-height: 48px;
  	margin-left: 228px;
}
