body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
	text-decoration: none;
}
.shadow{
	width: 1200px;
    height: 2762px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.visually_hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}
.button{
	display: inline-block;

	font: inherit;

	text-align: center;
	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	
  	border: none;
}
.btn_hotel_search{
	
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 1.24;
    padding: 32px 146px;
    background-color: #766357;
}
.btn_hotel_search:hover,
.btn_hotel_search:focus {
	background-color: #604e43;
}

.find_button{
	font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
	width: 458px;
    height: 58px;
    padding: 0;
	background-color: #81b3d2;
}

.find_button:hover,
.find_button:focus {
	background-color: #669ec0;;
}
.main_navigation{
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
	
}
.main_header{
	width: 1200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	margin-left: auto;
    margin-right: auto;

}

.main_header_logo{
	width: 459px;
	height:353px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 76px;

}
.main_header_intro a{
	width: 459px;
	height:353px;

}
.main_header_intro{
	height: 501px;
	background-image: url("../img/background-photo.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-position-y: -90px;
}

.header_logo{
   	width: 140px;
   	height: 71px;
}

.position{
	position: relative;
}


.polygon{
	height: 59px;
    width: 1203px;
    background-image: url(../img/polygon.svg);
    background-color: transparent;
    position: absolute;
    top: -57px;
    left: -1px;
}

.site_navigation{
	list-style: none;

	margin-bottom: 0px;
	padding: 0;
}
.position_nav a{
	display: block;
	text-align: center;
    padding: 18px 70px;

}
.site_navigation li{
	width: 239px;
}

.site_navigation a{
	color: #000000;
}

.site_navigation a:hover,
.site_navigation a:focus{
	color: #81b3d2;
}

.motto{
	text-align: center;
	background-color: #ffffff;
	margin-top: -22px;
	min-height: 216px;
}

.motto h3{
	width: 440px;
  	font-size: 21px;
  	font-weight: bold;
  	line-height: 1.2;
  	margin: 0 auto;
  	padding-top: 61px;
}
.text_p p{
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 14px;
	color: #333333;
	margin: 0 auto;
}
.text_p{
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333333;
	margin: 0 auto;
}
.motto p{
	line-height: 1.86;
	padding-top: 38px;
}

.interesting{
	text-align: center;
	background-color: #ffffff;
    min-height: 291px;
    margin-top: -30px;
}
.interesting h3{
	font-size: 30px;
	padding-top: 57px;
	margin: 0 auto;
  	font-weight: bold;
  	line-height: 1.2;
}
.interesting p{
	width: 434px;
	line-height: 1.71;
	padding-bottom: 52px;
	}
.appointment_item input{
	font: inherit;

	width: 346px;
    height: 38px;

	background-color: transparent;
	border: 0;
	background-color: #f2f2f2;
}
.appointment-item input:focus {
  border-color: #e5f2fa;
}
.main_footer{
	background-color: #ffffff;
	position: relative;
}
.footer_contacts a {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.footer_contacts a:hover,
.footer_contacts a:focus {
  text-decoration: none;
}
.footer_contacts p{
	margin: 0 auto;
}

.footer_social{
    text-align: center;
}

.footer_social ul {
    list-style: none;
}

.social_btn {
	display: flex;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
  	color: #000000;
}
.social_btn:hover,
.social_btn:focus {
	background-color: #669ec0;
}
.footer_copyright {
  text-align: center;
}
.footer_copyright p{
	line-height: 1.86;
    font-size: 14px;
    font-weight: normal;
}
.result li{
	list-style: none;

}
.logo_academy{
	color: #231f20;
	width: 115px;
	height: 41px;
}

.twitter{
	width:17px;
	height: 15px;
	padding-top: 17px;
}
.facebook{
	width: 12px;
	height: 22px;
	padding-top: 13px;
}
.youtube{
	width: 20px;
	height: 16px;
	padding-top: 16px;
}
.form_of_settlement{
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	position: absolute;
    z-index: 2;
    margin: auto 316px;
}
.position_form{
	display: flex;
    align-items: center;
    flex-direction: column;
}

.arrival_date{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 55px;
	width: 458px;
	height: 38px;
}
.date_of_departure{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 29px;
	width: 458px;
	height: 38px;
	padding: 0;
}
.people{
	display: flex;
	margin-top: 30px;
	width: 458px;
	height: 38px;
}
.find_button{
	margin-top: 54px;
    margin-left: 55px;
}
.position_label_inputs{
	display: flex;
	width: 458px;
	height: 38px;
	}
.adults{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 226px;
}
.adults input{
	width: 114px;
}
.children{
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 179px;
    margin-left: 53px;
}
.children input{
	width: 114px;
}
.children label{
	text-align: center;
}



/*------------------------------------Сеточные стили---------------------------------------*/
html,
body{
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main_header{
	min-height: 485px;
	
}

.main_navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.header_logo{
	position: absolute;
	
}

.main_navigation_wrapper{
	width: 100%;
	margin-bottom: 76px;
	min-height: 56px;
	margin: 0 auto;

}

.container{
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.site_navigation{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
  	padding: 0;
}
.main_header_intro{
	display: flex;
	justify-content: center;
}


.main_footer{
	min-height: 120px;
	padding: 36px 0;

	width: 1200px;
    margin: 0 auto;
    padding: 0;

}
.main_footer .container {
  display: flex;
}
.footer_contacts {
	
	width: 223px;
  	margin: 0;
  	min-height: 48px;
  	margin-right: 169px;
  	margin-left: 132px;
}
.footer_social {
	width: 150px;
  	margin: 0;
  	min-height: 48px;
}
.footer_icon{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
    padding-left: 0px;
    margin: 0 auto;
    padding: 0;
}

.footer_copyright {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 197px;
  	margin: 0;
  	min-height: 48px;
  	margin-left: 228px;
}
.footer_position{
	position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #ffffff;
    opacity: 0.9;
	align-items: center;
	min-height: 120px;
}
.footer_map{
	height: 593px;
}
/*---------------------------main catalog--------------------*/
.result_content{
	display: flex;
	background-color: #ffffff;
	max-width: 1200px;
	margin-bottom: 1px;
}
.price{
	padding: 0;
    display: flex;
    margin: 0;
    padding-bottom: 13px;
}
.price p{
	margin: 0;
	line-height: 1.5;
	text-align: left;
}
.functions{
	display: flex;
    width: 222px;
}

.book{
	margin-left: 8px;
    width: 142px;
    height: 27px;
    background-color: #766357;
    text-align: center;

}
.hostel{
	width: 110px;

}
.price_hostel{
	width: 142px;
	margin-left: 8px;
	text-align: left;
	margin-left: 8px;
}
.catalog_img{
	margin-right: 38px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 72px;
}
.catalog_img img{
	width: 135px;
	height: 90px;
}
.catalog_img a{
	display: inline-block;
	width: 135px;
	height: 90px;
}
.main_position{
	padding: 0;
	margin: 0 auto;
}
.second_header{
	min-width: 1200px;
	min-height: 100px;
}
.rating{
	margin-left: auto;
}
.block_star{
	width: 110px;
	margin-right: 72px;
    margin-top: 29px;
}
.star{
	padding: 0;
    display: flex;
    justify-content: flex-end;
}
.star li{
	display: flex;
}
.star li:nth-child(1){
	margin-left: 8px;
}
.star li:nth-child(2){
	margin-left: 7px;
}
.star li:nth-child(3){
	margin-left: 6px;
}
.star li:nth-child(4){
	margin-left: 5px;
}

.assessment{
	text-align: center;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    margin-right: 73px;
    margin-top: 47px;
}
.housing{
	padding-top: 23px;
    padding-bottom: 0px;
}
.name{
	font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    padding-bottom: 11px;
}
.name p{
	margin: 0;
}
.details_btn{
	width: 110px;
    height: 27px;
    background-color: #81b3d2;
    text-align: center;
}
.details_btn:hover,
.details_btn:focus{
	background-color: #669ec0;
}
.book_btn{
	width: 142px;
    height: 27px;
    background-color: #766357;
    text-align: center;
}
.book_btn:hover,
.book_btn:focus{
	background-color: #604e43;
}

